---

import { basics } from '@cv'
import Section from '@/components/Section.astro'
import Mail from '@/icons/Mail.astro'
import Phone from '@/icons/Phone.astro'
import LinkedIn from '@/icons/LinkedIn.astro'
import GitHub from '@/icons/GitHub.astro'

const { name, label, image, location, profiles, phone, email } = basics
const { city, region } = location
const SOCIAL_ICONS: Record<string, any> = {
    GitHub,
    LinkedIn

}

---
<Section>
    <div class="container">
        <div class="info">

            <h1>{name}</h1>
            <h2>{label}</h2>

            <span>
                <!-- Robar Icono-->
                {city}, {region}
            </span>

            <footer>
                {
                    email && (
                        <a href={`mailto:${email}`}
                        title={`Enviar un correo electronico a ${name} al correo ${email}`}
                        target="_blank"
                        rel="noopener noreferrer"
                        >
                        <Mail />
                        </a>
                    )
                }

                {
                    phone && (
                        <a href={`tel:${phone}`}
                        title={`Llamar por telefono a ${name} al numero ${email}`}
                        target="_blank"
                        rel="noopener noreferrer"
                        >
                        <Phone />
                        </a>
                    )
                }

            </footer>
        </div>
        <figure>
            <img src={image} alt={name} style="width: 250px;" />
        </figure>
    </div>
</Section>

<style>
</style>